html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1;
}
footer {
  color: white;
  text-align: center;
  padding: 15px;
}
.navbar {
  height: 70px;
  padding: 10px 0;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}