<div class="mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white shadow-sm bg-gradient-customers">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h4>1</h4>
            <p class="mb-0">Total Customers</p>
          </div>
          <i class="fa-solid fa-user-plus fs-1"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white shadow-sm bg-gradient-products">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h4>3</h4>
            <p class="mb-0">Total Products</p>
          </div>
          <i class="fa-solid fa-square-poll-vertical fs-1"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white shadow-sm bg-gradient-orders">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h4>2</h4>
            <p class="mb-0">Total Orders</p>
          </div>
          <i class="fa-solid fa-list fs-1"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header bg-primary text-center">
      <h5 class="mb-0 fw-bold text-white">Recent Booking</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered shadow-sm table-striped table-hover">
        <thead class="table-light">
          <tr>
            <th>Customer Name</th>
            <th>Customer Mobile</th>
            <th>Shipment Address</th>
            <th>Product Name</th>
            <th>Product Picture</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Aravind Reddy</td>
            <td>9898989898</td>
            <td>Hyderabad</td>
            <td>Laptop</td>
            <td><img src="" width="40"></td>
            <td><span class="status-badge delivered">Delivered</span></td>
          </tr>
          <tr>
            <td>Aravind Reddy</td>
            <td>9898989898</td>
            <td>Hyd</td>
            <td>Laptop</td>
            <td><img src="" width="40"></td>
            <td><span class="status-badge order-confirmed">Order Confirmed</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
